.hotel-card{
    width:320px;
    height:560px;          /* Fixed height */
    background:white;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 4px 10px rgba(0,0,0,.15);
    transition:.3s;

    display:flex;
    flex-direction:column;
}

.hotel-card:hover{
    transform:translateY(-8px);
}

.hotel-image{
    width:100%;
    height:220px;
    object-fit:cover;
}

.hotel-content{
    padding:15px;
    display:flex;
    flex-direction:column;
    flex:1;
}

.hotel-content h2{
    margin-bottom:10px;
}

.hotel-content p{
    margin:4px 0;
}

.hotel-content button{
    margin-top:auto;      /* Push button to bottom */
    width:100%;
    padding:10px;
    border:none;
    background:#2563eb;
    color:white;
    cursor:pointer;
    border-radius:8px;
}
.description{
    display:-webkit-box;
    -webkit-line-clamp:4;
    line-clamp: 4;
    -webkit-box-orient:vertical;
    overflow:hidden;
}